html {
    font-family: 'Quicksand', sans-serif;
}

.soon {
    text-align: center;

    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
}

.buttons {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;

}

.goback {
    border-radius: 17px;
    background-color: #ff8cb8;
    border: none;
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.goback a {
    text-decoration: none;
    color: black;
}

.goback:hover {
    background-color: #ff478e;
    /* padding-right: 33px;
    padding-left: 33px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px; */
    transform: scale(1.2);
}
