html {
    background-color: hsl(0, 0%, 20%);
}

#count {
    color: whitesmoke;
}

.math-buttons {
    color: whitesmoke;
}

.about-texts {
    color: whitesmoke;
}

#plus {
    background-color: darkorchid;
}

#plus:hover {
    background-color: blueviolet;
}

#reset {
    background-color: blue;
}

#minus {
    background-color: darkgreen;
}
