html {
    background-color: hsl(0, 0%, 20%);
}

#count {
    color: whitesmoke;
}

.math-buttons {
    color: whitesmoke;
}

.about-texts {
    color: whitesmoke;
}

#plus {
    background-color: rgb(131, 0, 113);
}

#plus:hover {
    background-color: rgb(77, 0, 66);
}

#reset {
    background-color: rgb(0, 124, 155);
}

#reset:hover {
    background-color: rgb(0, 64, 80);
}

#minus {
    background-color: rgb(0, 102, 0);
}

#minus:hover {
    background-color: rgb(0, 66, 0);
}

.theme-button {
    background-color: rgb(167, 0, 153);
}
