html {
    background-color: hsl(0, 0%, 20%);
}

#count {
    color: whitesmoke;
}

.math-buttons {
    color: whitesmoke;
}

.about-texts {
    color: whitesmoke;
}

#plus {
    background-color: rgb(131, 0, 113);
}

#plus:hover {
    background-color: rgb(77, 0, 66);
}

#reset {
    background-color: blue;
}

#minus {
    background-color: darkgreen;
}
