html {
    background-color: pink;
}

.dc {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 50px;
    color: black;
}

.dc a {
    text-decoration: none;
    color: magenta;
}

.dc a:hover {
    color: blue;
}