html {
    background-color: white;
    font-family: 'Alegreya Sans', sans-serif;
    background-image: url(https://media.istockphoto.com/videos/abstract-background-holographic-gradient-futuristic-3d-rendering-video-id1159788522?s=640x640);
    background-size: cover;
    /* background-size: 100%; */
    /* width: 100%; */
    /* height: 100vh; */

}

/* body {
} */

.count-title {
    text-align: center;
    padding-top: 50px;
    font-size: 60px;
    color: black;
}

#count {
    text-align: center;
    font-size: 50px;
    color: black;
}

.buttons {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;

}

.plus {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 17px;
    background-color: hotpink;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.plus:hover {
    background-color: darkmagenta;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
}

/* ------------------- begin reset ---------------------- */

.reset {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 17px;
    background-color: rgb(48, 189, 189);
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 27px;
    padding-right: 27px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.reset:hover {
    background-color: rgb(1, 129, 131);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
}

/* ------------------- end reset ---------------------- */

/* ------------------- begin decrement ---------------------- */

.minus {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 17px;
    background-color: rgb(38, 212, 52);
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.minus:hover {
    background-color: rgb(28, 122, 36);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
}

/* ------------------- end decrement ---------------------- */

/* ------------------- begin nextpage button ---------------------- */

.nextpage2 {
    border-radius: 17px; /* 17px */
    background-color: #ff8cb8;
    border: none;
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    position: absolute;
    margin-top: 500px;
    bottom: 15px; /* this */
    right: 18px; /* and this */
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.nextpage2 a {
    
    color: #000000;
    text-decoration: none;
    
}

.nextpage2:hover {
    background-color: #ff478e;
    padding-right: 33px;
    padding-left: 33px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
}

/* ------------------- end nextpage button ---------------------- */

/* ------------------- begin made with love button ---------------------- */

.lob {
    text-align: center;
    margin-top: 23px;
}

.lob a {
    text-decoration-color: hotpink;
    text-decoration-style: solid;
    font-weight: bold;
    color: hotpink;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.lob a:hover {
    font-size: 23px;
}

/* .twitter-img {
    size: 1px;
} */

/* ------------------- end made with love ---------------------- */

/* ------------------- begin reload ---------------------- */

.reload {
    border-radius: 17px;
    background-color: #ff8cb8;
    border: none;
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: absolute;
    bottom: 15px; /* this */
    left: 18px; /* and this */
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    display: flex;
}

.reload a {
    text-decoration: none;
    color: black;
}

.reload:hover {
    background-color: #ff478e;
    padding-right: 33px;
    padding-left: 33px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
}

/* ------------------- end reload ---------------------- */

/* ------------------- begin source code button ---------------------- */

.source {
    border-radius: 17px;
    background-color: #ff8cb8;
    border: none;
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: absolute;
    bottom: 15px; /* this */
    left: 18px; /* and this */
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    display: flex;
}

.source:hover {
    background-color: #ff478e;
    padding-right: 33px;
    padding-left: 33px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
}

/* ------------------- begin common button config ---------------------- */

button {
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
    
}

/* ------------------- end common button config ---------------------- */













/* .whoami {
    text-align: center;
    size: 70px;
    font: src='';
}

.name {
    text-align: center;
    size: 30px;
}

html {
    background-color: rgb(91, 207, 207);
    scroll-margin-block-end: 500px;
}

.hobby-list {
    text-align: center;
    list-style-position: inside;
    list-style-type: square;
}

.hobby {
    text-align: center;
    color: blueviolet;
}

.video {
    padding-right: 45px;
    color: blue;
    font-size: 60px;
    list-style: square;
    list-style-position: inside;
}


 */