/* common properties */
html {
    text-align: center;
    background-color: pink;
    font-family: 'Quicksand', sans-serif;
}

.count-title {
    margin-top: 2em;
    font-size: 3.5em;
}

.count {
    
}
