/* common properties */
html {
    text-align: center;
    background-color: pink;
    font-family: 'Quicksand', sans-serif;
}

.count-title {
    margin-top: 2em;
    font-size: 3.5em;
}

.count-txt {
    font-size: 2.3em;
}

.plus {
    size: 4em;
}
