html {
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(to right, pink, rgba(255, 192, 203, 0.418));
}

.btn-back {
    padding-left: 2.5ex;
    padding-right: 2.5ex;
    padding-bottom: 1.4ex;
    padding-top: 1.4ex;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;

    /* remove ugly border and add color */
    border
}

.btn-back:hover {
    transform: scale(1.2);
    margin-left: +1ex;
}