html {
    font-family: 'Quicksand', sans-serif;
    /* background: linear-gradient(to right, pink, rgba(255, 192, 203, 0.418)); */
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background: radial-gradient(deeppink, pink);

}

.btn-back {
    /* general padding & margin */
    padding-left: 2.5ex;
    padding-right: 2.5ex;
    padding-bottom: 1.4ex;
    padding-top: 1.4ex;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;

    /* remove ugly border and add color, cosmetics etc */
    border: none;
    background-color: deeppink;
    text-decoration: none;
    color: black;
    border-radius: 1.6em;
    transform: scale(1.07);
}

.btn-back:hover {
    transform: scale(1.2);
    margin-left: +1.2ex;
}
