@media only screen and (max-width: 1024px) {
    /* Hide reload button altogether for mobile */
    .reload {
        display: none;
    }
    .theme {
        position: absolute;
        bottom: 15px;
        border-radius: 30px;
        border: none;
        padding-right: 28px;
        padding-left: 28px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #ff8cb8;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 200ms;
    }
}