@media only screen and (max-width: 1024px) {
    /* Hide reload button altogether for mobile */
    .reload {
        display: none;
    }
    #dark {
        left: calc(276px - 200px);
    }
    #light {
        left: calc(407px - 200px);
    }
}